@import '_variables';

@some-guy-size: 100px;

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;

	#loader-container,
	#error-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;

		&.visible {
			visibility: initial;
			opacity: 1;
		}
	}

	#loader-container {
		.loader {
			font-size: 100px;
			color: white;
			display: inline-block;
			animation-name: rotate;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			transform-origin: 50% 60%;
		}
	}

	#error-container {
		cursor: pointer;

		.error {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 300px / 1.62;
			width: 300px;
			background-color: white;
			border-radius: 50px;
			box-shadow: 0 20px 50px 10px rgba(0, 0, 0, .25);
			cursor: initial;

			.error-icon {
				color: red;
				font-size: 70px;
			}

			.error-message {
				padding-bottom: 30px;
				display: inline-block;
			}
		}
	}

	.form-container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 450px;
		width: 450px / 1.62;
		background-color: white;
		border-radius: 50px;
		box-shadow: 0 20px 50px 10px rgba(0, 0, 0, .25);
	}

	.some-guy-container {
		position: absolute;
		top: -@some-guy-size / 2;
		width: @some-guy-size;
		height: @some-guy-size;
		border-radius: 50%;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2);
		transition: all .25s;
		cursor: pointer;
		
		@media (min-width: @breakpoint) {
			&:hover {
				transform: translate(0, -15px);
			}
		}

		@media (max-width: @breakpoint) {
			top: -@some-guy-size / 8;
		}

		.some-guy {
			width: @some-guy-size;
			height: @some-guy-size;
			border-radius: 50%;

			&.is-animating {
				animation-name: rotate;
				animation-duration: .5s;
			}
		}
	}

	.where {
		text-align: center;
		font-size: 7px;
	}

	form {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 70px 15px 5px;

		h1 {
			margin: 0 0 5px;
		}

		h2 {
			margin: 0 0 50px;
		}

		h1,
		h2 {
			text-align: center;

			@media (max-width: @breakpoint) {
				transform: translate(0, 30px);
			}
		}
	}
}
